h2{
    background-color: #5b5c76;
}



#slider {
    width: 100%;
    height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    z-index: 1; 
    position: relative; 
 
}


    

header{
    /* position: absolute; */
    z-index: 2;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  
}
.page-header{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #5b5c76;

  }
.logo{
    width: 100px;
    height: 100px;
    
}

.page-title{
    margin-left: 250px;
    margin-top: 30px;
}


#page-link{
    display: flex;
    /* position: relative; */
    list-style: none;
    margin-right: 100px;
    margin-top: 40px;
    
}

    

#page-link li{
    margin-left: 36px;
}

#page-link a{
    font-size: 25px;    
    color:rgb(8, 8, 8);
    font-family: 'Tilt Prism', cursive;
}

#page-link a:hover{
    color:rgb(8, 8, 8);
}

.area{
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    background-color: #b7cebb;
}

/*アクセス*/
iframe{
    margin-right: 150px;
    margin-top: 100px;
}
   

.access-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    /* background-color: aquamarine; */
}

.access-1 table{
    margin-top: 100px;
    margin-left: 250px;
}

tr {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
  }
#ACCESS{
}



/*プライス*/
#PRICE{
 }
 /*メニュー*/
 #MENU{
    margin-bottom: 50px;
 }
 #gazou{
    display: grid;
    grid-template-columns:1fr 1fr 1fr  ;
    margin-top:5%;
}


img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
}
.seikotu{
    position: relative;
  }
.text-1 {
    position: absolute;
    bottom: 80px;
    right:145px;
  }
 
  
.gazou1{
    padding: 5px;
    border: 9px solid green;
}
.gazou2{
    padding: 5px;
    border: 9px solid green;
}
.gazou3{
    padding: 5px;
    border: 9px solid green;
}

#gazou p{
    font-size:35px;
}





  

 
 










    
